/* Estilos específicos para el NavBar usando IDs y clases */
#navbar-header {
  border-bottom: 1px solid #1c2125;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}

#navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

#navbar-nav .navbar-nav-link {
  text-decoration: none;
  color: #838d9b;
  font-size: 18px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  margin-right: 1rem;
}

#navbar-nav .navbar-nav-link:hover {
  color: #f9f9f9;
}

#navbar-login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 11.5rem;
  height: 2.5rem;
  margin-right: 2rem;
}

#navbar-home-link .navbar-site-title {
  margin-left: 2rem;
  color: #fff;
  font-size: 27px;
  text-decoration: none;
}

#navbar-home-link {
  text-decoration: none;
  color: inherit;
}

/* Estilo para los elementos activos dentro de NavBar */
#navbar-nav .navbar-nav-link.active {
  color: #f9f9f9;
}

/* Mantener el estilo sin cambios para no-style-dashboard */
.no-style-dashboard {
  color: inherit;
  text-decoration: none;
}
